body {
  margin: 0;
  padding: 0;
}

.glitch {
  position: relative;
  width: 100%;
  height: 110vh;
  background-image: url(../img/01.png);
}

.glitch:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/01.png);
  opacity: 0.8;
  mix-blend-mode: hard-light;
}

.glitch:hover:before {
  animation: animate .2s infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
    filter: hue-rotate(70deg);
  }

  10% {
    background-position: 60px 0;
  }

  20% {
    background-position: -60px 0;
  }

  30% {
    background-position: 12px 0;
  }

  40% {
    background-position: -16px 0;
  }

  50% {
    background-position: -24px 0;
  }

  60% {
    background-position: -24px 0;
  }

  70% {
    background-position: 0 42px;
  }

  80% {
    background-position: -40px -30px;
  }

  100% {
    background-position: 0px 0px;
    filter: hue-rotate(360deg);
  }

}