body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../public/img/lake.jpg");
    background-size: cover;
}

.canvas .water {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../public/mask.png");
    background-size: cover;
    filter: url("#animation");
}